<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Fake News Detector</title>
</head>
<body>
    <h1>Fake News Detection System</h1>
    <p>Enter a news article below to check if it's real or fake.</p>

    <form action="/predict" method="post">
        <textarea name="article_text" rows="10" cols="50" required placeholder="Paste the full article text here....">{{ article_text or '' }}</textarea>
        <br>
        <button type="submit">Analyze News</button>
    </form>

    {% if prediction %}
    <div class="result" style="border-left-color: {{ color }};">
    <h2>Prediction Result</h2>
    <p><strong>{{ prediction }}</strong></p>
    </div>
    {% endif %}

</body>
</html>